<h3 class="kozon-titles">Sujets</h3>
<div id="kozon_sujets">
{{ drupal_block('module_hero_forum_block') }}
</div>
<div class="block block-module-hero block-module-hero-last-forum ksujet">
    <div class="content">
		<div class="forum-posts">
		{% set countl = 1 %}
		{% for item in items %}
			{% set countl = countl + 1 %}
		{% endfor %}
		{% set countl = countl - 1 %}
		{% set count = 1 %}
		{% for item in items %}
			{% set reminder = count%2 %}
			{% if count == 1 %}
		        <div class="row ">
		    {% else %}
			    {% if reminder == 1 %}
			        <div class="row ">
			    {% endif %}
		    {% endif %}

			<div class="col" style="border-left: 5px solid {{ item.color }}; ;">
		    	<a href="/kozon/{{ item.tid }}/{{ item.nid }}">
		    	<div class="kds-left">
		    	<span class="forum-termname">{{ item.term }}</span>
		    	<span class="forum-name">{{ item.name }}</span>
		    	</div>
		    	<div class="kds-right">
				{% if item.pathImage is not empty %}
					<img src="{{ item.pathImage }}" class="user-photop-kozon my-auto">
				{% endif %}
				<div class="textKright">
			    	<span class="forum-username">{{ item.user }}</span>
			    	<span class="forum-time">{{ item.time }}</span>
		    	</div>
		    	</div>
		    	</a>
		    </div>
		    {% set countrow = count%2 %}
			{% if count < countl %}
				{% if countrow == 0 %}
					</div>
				{% endif %}
			{% else %}
				{% if countrow == 0 %}
					</div>
				{% else %}
						<div class="col">
						</div>
					</div>
				{% endif %}
			{% endif %}

			{% set count = count + 1 %}
		{% endfor %}

		</div>
	</div>
</div>